In [78]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [79]:
df=pd.read_csv('house_price_predict.csv')

In [80]:
df.head(5)

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
0,2014-05-02 00:00:00,313000.0,3.0,1.50,1340,7912,1.5,0,0,3,1340,0,1955,2005,18810 Densmore Ave N,Shoreline,WA 98133,USA
1,2014-05-02 00:00:00,2384000.0,5.0,2.50,3650,9050,2.0,0,4,5,3370,280,1921,0,709 W Blaine St,Seattle,WA 98119,USA
2,2014-05-02 00:00:00,342000.0,3.0,2.00,1930,11947,1.0,0,0,4,1930,0,1966,0,26206-26214 143rd Ave SE,Kent,WA 98042,USA
3,2014-05-02 00:00:00,420000.0,3.0,2.25,2000,8030,1.0,0,0,4,1000,1000,1963,0,857 170th Pl NE,Bellevue,WA 98008,USA
4,2014-05-02 00:00:00,550000.0,4.0,2.50,1940,10500,1.0,0,0,4,1140,800,1976,1992,9105 170th Ave NE,Redmond,WA 98052,USA

In [77]:
df['sqft_living'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 4600 entries, 0 to 4599
Series name: sqft_living
Non-Null Count  Dtype
--------------  -----
4600 non-null   float64
dtypes: float64(1)
memory usage: 36.1 KB

In [81]:
df.head()

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
0,2014-05-02 00:00:00,313000.0,3.0,1.50,1340,7912,1.5,0,0,3,1340,0,1955,2005,18810 Densmore Ave N,Shoreline,WA 98133,USA
1,2014-05-02 00:00:00,2384000.0,5.0,2.50,3650,9050,2.0,0,4,5,3370,280,1921,0,709 W Blaine St,Seattle,WA 98119,USA
2,2014-05-02 00:00:00,342000.0,3.0,2.00,1930,11947,1.0,0,0,4,1930,0,1966,0,26206-26214 143rd Ave SE,Kent,WA 98042,USA
3,2014-05-02 00:00:00,420000.0,3.0,2.25,2000,8030,1.0,0,0,4,1000,1000,1963,0,857 170th Pl NE,Bellevue,WA 98008,USA
4,2014-05-02 00:00:00,550000.0,4.0,2.50,1940,10500,1.0,0,0,4,1140,800,1976,1992,9105 170th Ave NE,Redmond,WA 98052,USA

In [82]:
df['sqft_living'] = df['sqft_living'].astype(float)

In [83]:
df['sqft_lot'] = df['sqft_lot'].astype(float)

In [84]:
df['sqft_above'] = df['sqft_above'].astype(float)

In [85]:
df['sqft_basement'] = df['sqft_basement'].astype(float)

In [86]:
df['sqr_ft'] = df['sqft_living'] + df['sqft_lot'] + df['sqft_above'] + df['sqft_basement']

In [87]:
df['sqr_ft'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 4600 entries, 0 to 4599
Series name: sqr_ft
Non-Null Count  Dtype
--------------  -----
4600 non-null   float64
dtypes: float64(1)
memory usage: 36.1 KB

In [88]:
df = df.drop(columns=['sqft_living', 'sqft_lot', 'sqft_above', 'sqft_basement'])

In [89]:
df.head()

,date,price,bedrooms,bathrooms,floors,waterfront,view,condition,yr_built,yr_renovated,street,city,statezip,country,sqr_ft
0,2014-05-02 00:00:00,313000.0,3.0,1.50,1.5,0,0,3,1955,2005,18810 Densmore Ave N,Shoreline,WA 98133,USA,10592.0
1,2014-05-02 00:00:00,2384000.0,5.0,2.50,2.0,0,4,5,1921,0,709 W Blaine St,Seattle,WA 98119,USA,16350.0
2,2014-05-02 00:00:00,342000.0,3.0,2.00,1.0,0,0,4,1966,0,26206-26214 143rd Ave SE,Kent,WA 98042,USA,15807.0
3,2014-05-02 00:00:00,420000.0,3.0,2.25,1.0,0,0,4,1963,0,857 170th Pl NE,Bellevue,WA 98008,USA,12030.0
4,2014-05-02 00:00:00,550000.0,4.0,2.50,1.0,0,0,4,1976,1992,9105 170th Ave NE,Redmond,WA 98052,USA,14380.0

In [90]:
df['country'].unique()

array(['USA'], dtype=object)

In [91]:
df.isnull().sum()

date            0
price           0
bedrooms        0
bathrooms       0
floors          0
waterfront      0
view            0
condition       0
yr_built        0
yr_renovated    0
street          0
city            0
statezip        0
country         0
sqr_ft          0
dtype: int64

In [92]:
X = df[['sqr_ft', 'bedrooms', 'bathrooms']]
y = df['price']

In [93]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=2)

In [94]:
X_train.head()

       sqr_ft  bedrooms  bathrooms
2274  11860.0       3.0       1.75
2735  12703.0       3.0       1.00
4     14380.0       4.0       2.50
133    8440.0       2.0       2.50
1903  10645.0       3.0       2.00

In [95]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3680 entries, 2274 to 2575
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   sqr_ft     3680 non-null   float64
 1   bedrooms   3680 non-null   float64
 2   bathrooms  3680 non-null   float64
dtypes: float64(3)
memory usage: 115.0 KB

In [96]:
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [111]:
y_pred = model.predict(X_test)

In [112]:
from sklearn.metrics import mean_squared_error, r2_score

In [113]:
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

In [114]:
print(f"Mean Squared Error: {mse}")
print(f"R-squared: {r2}")

Mean Squared Error: 839936885599.7477
R-squared: 0.03845055715694112

In [115]:
from sklearn.preprocessing import PowerTransformer
from sklearn.model_selection import cross_val_score

In [116]:
# applying cross val score

pt = PowerTransformer()
X_transformed2 = pt.fit_transform(X)

lr = LinearRegression()
np.mean(cross_val_score(lr,X_transformed2,y,scoring='r2'))

0.21475051069097492